*{
    margin:0;
    padding:0;
    box-sizing: border-box;
nav ul{
    background-color: lightgray;
    list-style-type: none ;
    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: space-between;


}

.nav-links {
    display: flex ;
    justify-content: space-around ;
     gap: 10px;
}
nav li a{
    text-decoration: none ;
    align-items: center ;
    gap: right 40px;
}

.btn{
    background-color: darkgreen;
    border: none ;
    padding: 5px; 10px ;
    border-radius: 4px ;
    font-size: 17px ;
    font-weight: bold ;
     color: white ;
}
.header-content{
    height: 90vh ;
    width: 100% ;
    background-image: url('/assets/hero-bg.png');

}

.he{

    
    display: flex ;
    align-items: center ;
    justify-content: center;
    ;
}
.headin-bg{
    display: flex;
    flex-direction: column ;
    align-items: center ;
    
    text-align: center ;

}

.bd{
    font-size:30px ;
    color:white;
    margin-top: 0px ;
}
.Taking{
    font-size: 50px ;
    color: green ;
    font-weight: bold ;

}